In [6]:
Name = "Zain Zulfiqar"
Age = 20

print(Name + "\n" + str(Age) + "\n5.8")

Zain Zulfiqar
20
5.8

In [7]:
print(Name + "\t" + str(Age))

Zain Zulfiqar	20

In [9]:
#1     Rehan
#2     Ali Shah
#3     Iliyan
#4     Ali Salman


Name1 = "Rehan"
Name2 = "Ali Shah"
Name3 = "Iliyan"
Name4 = "Ali Salman"

N1 = 1
N2 = 2
N3 = 3
N4 = 4


print(str(N1) + "\t" + Name1 + "\n" + str(N2) + "\t" + Name2 + "\n" + str(N3) + "\t" + Name3 + "\n" + str(N4) + "\t" + Name4 + "\n")

1	Rehan
2	Ali Shah
3	Iliyan
4	Ali Salman

In [10]:
import math

In [11]:
print(math.sqrt(4))

2.0

In [13]:
print(math.pow(4,5))

1024.0

In [14]:
print(math.factorial(5))

120

In [15]:
# 5 * 4 * 3 * 2 *1 = 120
# permutation and combination    n!/(n-r)!  
n = 4
r = 2

res = math.factorial(n) / math.factorial(n-r)
print(res)

12.0

In [16]:
N = 10
N = N + 50

In [17]:
print(N)

60

In [18]:
N = 10
N += 50
print(N)

60

In [19]:
N = N - 10
print(N)

50

In [20]:
N = 60
N -= 10
print(N)

50

In [21]:
N = 50
N = N / 10
print(N)

5.0

In [22]:
N = 50
N /= 10
print(N)

5.0

In [23]:
N = 10
N = N * 5
print(N)

50

In [24]:
N = 10
N *= 5
print(N)

50

In [25]:
N = 10
N = N % 2
print(N)

0

In [26]:
N = 10
N %= 2
print(N)

0

In [27]:
# List Manipulation
# String Manipulation
# conditional Statement In Python

In [29]:
Students = [] 
Students = ["Rehan" , "Ali Salman" , "Ali Shah" , "Iliyan"] #list heterogeneous  type int type string type bool

In [30]:
List = [1,1.5,True , "Zain"]

In [31]:
participantsMarks = ["Zain" ,8 , 9.5 , 10] #  0

In [32]:
# list 1 index participant name
# 2 index marks1
# 3 index marks2
# 4 index marks 3

print(participantsMarks[1]) # 0 , 1, 2, 3, ...

8

In [33]:
print(participantsMarks[1])
print(participantsMarks[2])

8
9.5

In [34]:
print(participantsMarks[1:3])    # index 1 inclusively  : index 3 exclusive

[8, 9.5]

In [35]:
print(participantsMarks[1:4])   # 1    4-1=3

[8, 9.5, 10]

In [38]:
index = int(input("Enter Your Submitted Assignment Number: "))
print(participantsMarks[index])

Enter Your Submitted Assignment Number: 1
8

In [39]:
print(participantsMarks)

['Zain', 8, 9.5, 10]

In [43]:
#7.5

participantsMarks[1] = 7.5
print(participantsMarks)   # Zain 7.5 8 9.5 10

['Zain', 7.5, 9.5, 10, 8, 8]

In [44]:
participantsMarks.append(8)
print(participantsMarks)

['Zain', 7.5, 9.5, 10, 8, 8, 8]

In [45]:
participantsMarks.pop()
print(participantsMarks)

['Zain', 7.5, 9.5, 10, 8, 8]

In [46]:
participantsMarks.pop()
print(participantsMarks)

['Zain', 7.5, 9.5, 10, 8]

In [47]:
print(participantsMarks)

['Zain', 7.5, 9.5, 10, 8]

In [48]:
participantsMarks.insert(1,"Zulfiqar")  # zain zulfiqar 7.5 9.5 10 8
print(participantsMarks)

['Zain', 'Zulfiqar', 7.5, 9.5, 10, 8]

In [49]:
# You Have To Enter A Value At A Particular Index Without Removing Already Exists Value Rather Moving It On One Index Forward You Will Use 
# .insert()
#  To Delete Recently Inserted Value 
# .pop()   
# list[1] = 5


participantsMarks.remove(7.5)

In [50]:
print(participantsMarks)

['Zain', 'Zulfiqar', 9.5, 10, 8]

In [51]:
del participantsMarks[1]
print(participantsMarks)

['Zain', 9.5, 10, 8]

In [52]:
participantsMarks.clear()   #[]
print(participantsMarks)

[]

In [53]:
print(len(participantsMarks))

0

In [54]:
participantsMarks =['Zain', 'Zulfiqar', 9.5, 10, 8]
print(len(participantsMarks))

5

In [55]:
participantsMarks2 =['Rehan', 'Riaz', 10, 9, 8]

In [56]:
total = participantsMarks + participantsMarks2
print(total)

['Zain', 'Zulfiqar', 9.5, 10, 8, 'Rehan', 'Riaz', 10, 9, 8]

In [68]:
Height = [5.2 , 5.6 ,4.3 , 7.0 ,6.5 , 4.5]
Height = sorted(Height , reverse = True)
print(Height)

[7.0, 6.5, 5.6, 5.2, 4.5, 4.3]

In [65]:
Height = [5.2 , 5.6 ,4.3 , 7.0 ,6.5 , 4.5]
Height.sort(reverse = True)
print(Height)

[7.0, 6.5, 5.6, 5.2, 4.5, 4.3]

In [69]:
Height.append(5.1)
print(Height)

[7.0, 6.5, 5.6, 5.2, 4.5, 4.3, 5.1]

In [70]:
Participants = [['Zain', 'Zulfiqar', 9.5, 10, 8],['Rehan', 'Riaz', 10, 9, 8] , ['Zain', 'Zulfiqar', 9.5, 10, 8, 'Rehan', 'Riaz', 10, 9, 8]]

In [79]:
#Participants.insert([1][0] , 1)
print(Participants[1])

1

In [84]:
# String 

N = "Zain Zulfiqar"
N[5:13]

'Zulfiqar'

In [86]:
# Conditional Statement In Python

marks = 81

if marks >= 50:
    print("Pass")
else:
    print("Fail")

Pass