# Python Tutorial

# Python  print() function in detail

#### Print Function General syntax : print("") or print('')

#### Exercise No.1 :- Text to prompt on screen is :    Welcome To Python World!

In [18]:
print("Welcome To Python World!")#using print("") function with double inverted comma

Welcome To Python World!

In [19]:
print('Welcome To Python World!')#using print('') function with single inverted comma

Welcome To Python World!

#### There is no difference in the output then why there are two different syntax one with single and other with double inverted comma
##### Let Examine This By Following Example

#### Exercise No.2 :- Text to prompt on screen is :    Welcome To "Python" World!
#### Exercise No.3 :- Text to prompt on screen is :    Welcome To 'Python' World!

In [20]:
print("Welcome To "Python" World!")#Exercise 2 with double inverted comma

SyntaxError: invalid syntax (<ipython-input-20-f665b4515baf>, line 1)

In [21]:
print('Welcome To "Python" World!')#Exercise 2 with single inverted comma

Welcome To "Python" World!

In [22]:
print("Welcome To 'Python' World!")#Exercise 3 with double inverted comma

Welcome To 'Python' World!

In [17]:
#Exercise 3 with single inverted comma

In [23]:
print('Welcome To 'Python' World!')

SyntaxError: invalid syntax (<ipython-input-23-24d62667a911>, line 1)

#### Conclusion is : If you want to use double inverted comma in a text to be prompt use single inverted comma with print statement and vice versa

#### Exercise No.4 :- Define Variable Age With 20 and print only Age Value

In [24]:
Age = 20
print(Age)

20

#### Exercise No.5 :- print Variable + text
##### Text to be prompt :- My Age Is 20

In [25]:
print("My Age Is " + str(20)) # Here we have type cast Age which was an integer to string so that we can concatenate two strings

My Age Is 20

##### Exercise No.6:- print more than one variable with text

In [27]:
Name = "Zain Zulfiqar"
Age = 20
Height = 5.9

print("My Name Is: " + Name + " My Age Is: " + str(Age) + " My Height Is: " + str(Height))

#Here we donot have typecast Name as it is already in String

My Name Is: Zain Zulfiqar My Age Is: 20 My Height Is: 5.9

##### Exercise No.7 :- print more than two variable

In [28]:
print(Name , Age ,Height)

Zain Zulfiqar 20 5.9

##### Exercise No.8 :- Print In This Way With Only Single Print Statement

##### My Name Is Zain
##### My Age Is 20
##### My Height Is 5.9

In [29]:
print("My Name Is " + Name + "\n" + "My Age Is " + str(Age) + "\n" + "My Height Is " + str(Height) + "\n")

My Name Is Zain Zulfiqar
My Age Is 20
My Height Is 5.9