# Welcome To Your First Python Program

# To prompt any text on screen you would use "print()" function

In [2]:
print("Hi! Everone")

Hi! Everone

In [3]:
print("Hello Python")

Hello Python

# You can also use print() with single inverted comma's

In [4]:
print('Hi! Everone') #you will find no difference in 1 & 3

Hi! Everone

# Question is why there are two different syntax for writing same print function

## let examine it with an example

### Suppose i want to write a quote in double inveted comma's 

#### for example i want to prompt :   Enter your "age"

In [5]:
print("Enter your "age"")

SyntaxError: invalid syntax (<ipython-input-5-76b64fd03ab6>, line 1)

# you have saw a syntax error

In [6]:
print('Enter your "age"') # now there will be no error

Enter your "age"

# Writing same thing with single inverted comma works but why?

## Reason is if you start print with double inverted comma  as it find second inverted comma it will terminate and same is for vice versa but if there are more than 2 single or double inverted comma it will generate an error like we encounter earlier

In [7]:
print('Enter your 'age'')

SyntaxError: invalid syntax (<ipython-input-7-2469d02e26cb>, line 1)

In [8]:
print("Enter your 'age'")

Enter your 'age'

## How To Take Input From User

### We Will Use input() function it will return value in string

In [9]:
Age = input("Enter Your Age: ")

Enter Your Age: 20

In [11]:
Age # note input always return output in string

'20'

### We can take more than one input at a time

In [12]:
firstName , lastName = input("Enter Your FullName: ").split()

Enter Your FullName: Zain Zulfiqar

In [13]:
firstName

'Zain'

In [14]:
lastName

'Zulfiqar'

# Variables Data Type in python

## 1. Integer
## 2. Float
## 3. String
## 4. List
## There are more and will be discussed later

In [15]:
Age = 20
Height = 5.9
Name = "Zain"
Hobby = ["Programming" , "Cricket" , "Table Tennis"]

### To check data type we use type() function

In [16]:
type(Age)

int

In [17]:
type(Height)

float

In [18]:
type(Name)

str

In [19]:
type(Hobby)

list

### How to convert input value to it's subsequent datatype??

In [20]:
Age = input("Enter Your Age : ")

Enter Your Age : 20

In [21]:
type(Age)

str

### we will convert this string to integer by using int()

In [22]:
Age = int(Age)
type(Age)

int

### This could be done at run time

In [23]:
Age = int(input("Enter Your Age :"))

Enter Your Age :20

In [24]:
type(Age)

int

### There is no need to convert string as input always return string value

# Basic Operations In Python

In [25]:
marks1 = 90
marks2 = 95
marks3 = 80
marks4 = 76
marks5 = 90

In [28]:
total = marks1 + marks2 + marks3 + marks4 + marks5
print(total)
average = total / 5
print(average)

431
86.2

# Thanks and don't forget to like share and subscribe